<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="advantages__list">
      <li class="advantages-item">
        <p class="advantages-item__text">
          7 лет на Российском <br />
          рынке
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-item__text">
          Узнаваемость <br />
          бренда
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-item__text">
          Доступность цен <br />
          и высокое качество
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-item__text">
          5000+ партнеров <br />
          по всей России
        </p>
      </li>
    </ul>
  </div>
</section>
