<section class="brands brands--title">
  <div class="container">
    <h2 class="brands__title section-title">Работаем с популярными брендами</h2>

    <ul class="brands__list">
      <li class="brands-item">
        <picture>
          <source srcset="img/brands/1.webp" type="image/webp" />
          <img class="brands-item__img" src="img/brands/1.png" alt="img" />
        </picture>
      </li>
      <li class="brands-item">
        <picture>
          <source srcset="img/brands/2.webp" type="image/webp" />
          <img class="brands-item__img" src="img/brands/2.png" alt="img" />
        </picture>
      </li>
      <li class="brands-item">
        <picture>
          <source srcset="img/brands/3.webp" type="image/webp" />
          <img class="brands-item__img" src="img/brands/3.png" alt="img" />
        </picture>
      </li>
      <li class="brands-item">
        <picture>
          <source srcset="img/brands/4.webp" type="image/webp" />
          <img class="brands-item__img" src="img/brands/4.png" alt="img" />
        </picture>
      </li>
      <li class="brands-item">
        <picture>
          <source srcset="img/brands/5.webp" type="image/webp" />
          <img class="brands-item__img" src="img/brands/5.png" alt="img" />
        </picture>
      </li>
      <li class="brands-item">
        <picture>
          <source srcset="img/brands/6.webp" type="image/webp" />
          <img class="brands-item__img" src="img/brands/6.png" alt="img" />
        </picture>
      </li>
      <li class="brands-item">
        <picture>
          <source srcset="img/brands/7.webp" type="image/webp" />
          <img class="brands-item__img" src="img/brands/7.png" alt="img" />
        </picture>
      </li>
      <li class="brands-item">
        <picture>
          <source srcset="img/brands/8.webp" type="image/webp" />
          <img class="brands-item__img" src="img/brands/8.png" alt="img" />
        </picture>
      </li>
    </ul>
  </div>
</section>
