<section class="categories">
  <div class="container">
    <h2 class="categories__title visually-hidden">Категории</h2>

    <div class="categories__slider swiper">
      <ul class="categories__slides swiper-wrapper">
        <li class="categories__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/1.webp" type="image/webp" />
                  <img src="img/categories/1.jpg" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Для женщин</span>
          </a>
        </li>
        <li class="categories__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/2.webp" type="image/webp" />
                  <img src="img/categories/2.jpg" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Для мужчин</span>
          </a>
        </li>
        <li class="categories__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/3.webp" type="image/webp" />
                  <img src="img/categories/3.jpg" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Для детей</span>
          </a>
        </li>
        <li class="categories__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/4.webp" type="image/webp" />
                  <img src="img/categories/4.jpg" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Акции</span>
          </a>
        </li>
        <li class="categories__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/5.webp" type="image/webp" />
                  <img src="img/categories/5.jpg" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Коллекции</span>
          </a>
        </li>
        <li class="categories__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/6.webp" type="image/webp" />
                  <img src="img/categories/6.jpg" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Аксессуары</span>
          </a>
        </li>
        <li class="categories__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/7.webp" type="image/webp" />
                  <img src="img/categories/7.jpg" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Бренды</span>
          </a>
        </li>
        <li class="categories__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/8.webp" type="image/webp" />
                  <img src="img/categories/8.jpg" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Обувь</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
