<section class="collections">
  <div class="container">
    <div class="collections__top">
      <h2 class="collections__title section-title">Коллекции</h2>
      <p class="collections__text">Элегантные дизайнерские коллекции</p>
    </div>

    <ul class="collections__list">
      <li class="collections__item">
        <article class="collections-card">
          <a class="collections-card__top" href="#">
            <picture>
              <source srcset="img/collections/1.webp" type="image/webp" />
              <img src="img/collections/1.jpg" alt="img" />
            </picture>
          </a>

          <div class="collections-card__body">
            <h3 class="collections-card__title"><a href="#">Для женщин</a></h3>
            <span class="collections-card__text">коллекции от дизайнеров</span>
          </div>
        </article>
      </li>
      <li class="collections__item">
        <article class="collections-card">
          <a class="collections-card__top" href="#">
            <picture>
              <source srcset="img/collections/2.webp" type="image/webp" />
              <img src="img/collections/2.jpg" alt="img" />
            </picture>
          </a>

          <div class="collections-card__body">
            <h3 class="collections-card__title"><a href="#">Для мужчин </a></h3>
            <span class="collections-card__text">коллекции от дизайнеров</span>
          </div>
        </article>
      </li>
      <li class="collections__item">
        <article class="collections-card">
          <a class="collections-card__top" href="#">
            <picture>
              <source srcset="img/collections/3.webp" type="image/webp" />
              <img src="img/collections/3.jpg" alt="img" />
            </picture>
          </a>

          <div class="collections-card__body">
            <h3 class="collections-card__title"><a href="#">Для детей</a></h3>
            <span class="collections-card__text">коллекции от дизайнеров</span>
          </div>
        </article>
      </li>
    </ul>

    <div class="collections__bottom">
      <button class="collections__btn" type="button">
        <span> Все коллекции</span>
        <svg>
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
