<section class="delivery">
  <div class="container">
    <h2 class="delivery__title section-title">Оплата и доставка</h2>

    <ul class="delivery__list">
      <li class="delivery-item">
        <div class="delivery-item__top">
          <picture class="delivery-item__img">
            <source srcset="img/delivery/1.webp" type="image/webp" />
            <img src="img/delivery/1.jpg" alt="" />
          </picture>
          <span class="delivery-item__name">Курьером в день заказа</span>
        </div>
        <div class="delivery-item__text">
          <p>
            Действует в городах: Москва и Санкт-Петербург. При оформлении заказа
            до 20:00 (по местному времени), общей сумме заказа не менее 10 000
            руб. и оплате онлайн. Доставка в день заказа возможна ежедневно до
            22:00 — бесплатно.
          </p>
        </div>
      </li>
      <li class="delivery-item">
        <div class="delivery-item__top">
          <picture class="delivery-item__img">
            <source srcset="img/delivery/2.webp" type="image/webp" />
            <img src="img/delivery/2.jpg" alt="" />
          </picture>
          <span class="delivery-item__name">Курьером в день заказа</span>
        </div>
        <div class="delivery-item__text">
          <p>
            Ваш заказ застрахован от повреждений во время доставки. Доставка
            курьерской службой по России производится без ограничений по сумме
            заказа. Стоимость доставки рассчитывается автоматически при
            оформлении заказа.
          </p>
        </div>
      </li>
      <li class="delivery-item">
        <div class="delivery-item__top">
          <picture class="delivery-item__img">
            <source srcset="img/delivery/3.webp" type="image/webp" />
            <img src="img/delivery/3.jpg" alt="" />
          </picture>
          <span class="delivery-item__name">В пункте выдачи</span>
        </div>
        <div class="delivery-item__text">
          <p>
            Вы можете забрать свой заказ в одном из пунктов выдачи товаров по
            адресам: <br />
            Адрес 1 ____________________________ <br />
            Адрес 2 ____________________________
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
