<footer class="footer footer--mini">
  <div class="footer__wrapper">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__col footer__col--first">
          <a class="footer__logo logo" href="#">
            <img src="img/logo.png" alt="img" />
          </a>
          <p class="footer__text">
            © 2022 – YaBassa — модный интернет-магазин одежды, обуви и
            аксессуаров. Все права защищены.
          </p>
        </div>
        <div class="footer__col">
          <span class="footer__name">YaBassa в соц сетях</span>
          <ul class="footer-socials">
            <li class="footer-socials__item">
              <a class="footer-socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#instagram"></use>
                </svg>
                <span>Instagram</span>
              </a>
            </li>
            <li class="footer-socials__item">
              <a class="footer-socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#telegram"></use>
                </svg>
                <span>Telegram</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">Поддержка клиентов</span>
          <ul class="footer__list">
            <li class="footer__item">
              <p class="footer__schedule">ежедневно с 09:00 - 23:00 (мск)</p>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="tel:+74951234567">
                8 (495) 123 45 67
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="mailto:support@yabassa.com">
                support@yabassa.com</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <a class="footer__policy" href="#">Политика конфиденциальности</a>

        <div class="footer__details">
          <ul class="footer__payment footer-payment">
            <li class="footer-payment__item">
              <picture>
                <source srcset="img/payments/visa.webp" type="image/webp" />
                <img src="img/payments/visa.png" alt="img" />
              </picture>
            </li>
            <li class="footer-payment__item">
              <picture>
                <source
                  srcset="img/payments/mastercard.webp"
                  type="image/webp"
                />
                <img src="img/payments/mastercard.png" alt="img" />
              </picture>
            </li>
            <li class="footer-payment__item">
              <picture>
                <source srcset="img/payments/qiwibank.webp" type="image/webp" />
                <img src="img/payments/qiwibank.png" alt="img" />
              </picture>
            </li>
            <li class="footer-payment__item">
              <picture>
                <source srcset="img/payments/yoomoney.webp" type="image/webp" />
                <img src="img/payments/yoomoney.png" alt="img" />
              </picture>
            </li>
            <li class="footer-payment__item">
              <picture>
                <source srcset="img/payments/alfabank.webp" type="image/webp" />
                <img src="img/payments/alfabank.png" alt="img" />
              </picture>
            </li>
            <li class="footer-payment__item">
              <picture>
                <source srcset="img/payments/sberbank.webp" type="image/webp" />
                <img src="img/payments/sberbank.png" alt="img" />
              </picture>
            </li>
          </ul>
          <a
            class="company"
            href="https://razrabotka-saita.ru/"
            target="_blank"
          >
            <span>Разработка сайта</span>
            <img src="img/logo-company.png" alt="АдвансМедиа" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
