<header class="header">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo logo" href="#">
        <img src="img/logo.png" alt="логотип" />
      </a>
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 6L18 18"
            stroke="#f1ebda"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18 6L6 18"
            stroke="#f1ebda"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Пункт меню</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Пункт меню</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Пункт меню</span></a>
      </li>
    </ul>

    <div class="mobile-menu__btns">
      <a class="mobile-menu__phone" href="tel:+74994990917">
        +7 (499) 499 09 17
      </a>
      <!-- <button class="mobile-menu__btn btn" type="button">Онлайн запись</button> -->
    </div>
  </div>
  <!-- Mobile Menu -->

  <div class="container">
    <div class="header__wrapper"></div>
  </div>
</header>
