<header class="header header--checkout">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg>
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu__btns">
      <a class="mobile-menu__btn btn" href="#">Войти</a>
      <a class="mobile-menu__btn btn" href="#">Регистрация</a>
    </div>

    <div class="mobile-menu__accordions">
      <div class="menu-accordion accordion">
        <div class="menu-accordion__control accordion-control" type="button">
          <a class="menu-accordion__control-link" href="#"> Для женщин </a>
          <button
            class="menu-accordion__control-btn accordion-control-btn"
            type="button"
          >
            <svg>
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
          </button>
        </div>
        <div class="menu-accordion__content accordion-content">
          <ul class="menu-accordion__list">
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Верхняя одежда</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Обувь</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Платья и юбки</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Рубашки</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Костюмы</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-accordion accordion">
        <div class="menu-accordion__control accordion-control" type="button">
          <a class="menu-accordion__control-link" href="#"> Для мужчин </a>
          <button
            class="menu-accordion__control-btn accordion-control-btn"
            type="button"
          >
            <svg>
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
          </button>
        </div>
        <div class="menu-accordion__content accordion-content">
          <ul class="menu-accordion__list">
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Верхняя одежда</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Обувь</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Платья и юбки</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Рубашки</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Костюмы</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-accordion accordion">
        <div class="menu-accordion__control accordion-control" type="button">
          <a class="menu-accordion__control-link" href="#"> Для детей </a>
          <button
            class="menu-accordion__control-btn accordion-control-btn"
            type="button"
          >
            <svg>
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
          </button>
        </div>
        <div class="menu-accordion__content accordion-content">
          <ul class="menu-accordion__list">
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Верхняя одежда</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Обувь</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Платья и юбки</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Рубашки</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Костюмы</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-accordion accordion">
        <div class="menu-accordion__control accordion-control" type="button">
          <a class="menu-accordion__control-link" href="#"> Бренды </a>
          <button
            class="menu-accordion__control-btn accordion-control-btn"
            type="button"
          >
            <svg>
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
          </button>
        </div>
        <div class="menu-accordion__content accordion-content">
          <ul class="menu-accordion__list">
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Верхняя одежда</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Обувь</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Платья и юбки</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Рубашки</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Костюмы</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-accordion accordion">
        <div class="menu-accordion__control accordion-control" type="button">
          <a class="menu-accordion__control-link" href="#"> Коллекции </a>
          <button
            class="menu-accordion__control-btn accordion-control-btn"
            type="button"
          >
            <svg>
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
          </button>
        </div>
        <div class="menu-accordion__content accordion-content">
          <ul class="menu-accordion__list">
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Верхняя одежда</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Обувь</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Платья и юбки</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Рубашки</a>
            </li>
            <li class="menu-accordion__item">
              <a class="menu-accordion__link" href="#">Костюмы</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Оплата и доставка</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Возврат товара</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span> Вопрос - ответ</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span> О нас</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Техподдержка</span></a>
      </li>
    </ul>
  </div>
  <!-- Mobile Menu -->

  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo logo" href="#">
        <img src="img/logo.png" alt="logo" />
      </a>
    </div>
  </div>
</header>
