<section class="checkout">
  <div class="container">
    <h2 class="checkout__title">Вопрос - ответ</h2>

    <h3 class="checkout__heading">Страница находиться в разработке</h3>

    <form class="form-checkout form-checkout--col">
      <div class="form-checkout__inputs">
        <label class="form-checkout__group">
          <input
            class="form-checkout__input"
            type="text"
            placeholder="Ваше имя"
          />
        </label>
        <label class="form-checkout__group">
          <input
            class="form-checkout__input"
            type="text"
            placeholder="Ваш телефон"
          />
        </label>
        <label class="form-checkout__group">
          <input
            class="form-checkout__input"
            type="text"
            placeholder="Ваш e-mail"
          />
        </label>
        <label class="form-checkout__group form-checkout__group--big">
          <textarea
            class="form-checkout__input"
            placeholder="Сообщение"
          ></textarea>
        </label>
      </div>

      <button class="form-checkout__btn btn" type="submit">Отправить</button>
    </form>
  </div>
</section>
