<section class="hero">
  <div class="hero__slider swiper">
    <ul class="hero__slides swiper-wrapper">
      <li class="hero__slide swiper-slide">
        <div class="container">
          <div class="hero__inner">
            <h1 class="hero__title">
              <a class="hero__link" href="#">
                <span>Коллекция 2023</span>
                <svg>
                  <use xlink:href="img/sprite.svg#right-arrow"></use>
                </svg>
              </a>
            </h1>
            <p class="hero__text">Новые коллекции женской одежды</p>
          </div>
        </div>
      </li>
      <li class="hero__slide swiper-slide">
        <div class="container">
          <div class="hero__inner">
            <h1 class="hero__title">
              <a class="hero__link" href="#">
                <span>Коллекция 2023</span>
                <svg>
                  <use xlink:href="img/sprite.svg#right-arrow"></use>
                </svg>
              </a>
            </h1>
            <p class="hero__text">Новые коллекции женской одежды</p>
          </div>
        </div>
      </li>
      <li class="hero__slide swiper-slide">
        <div class="container">
          <div class="hero__inner">
            <h1 class="hero__title">
              <a class="hero__link" href="#">
                <span>Коллекция 2023</span>
                <svg>
                  <use xlink:href="img/sprite.svg#right-arrow"></use>
                </svg>
              </a>
            </h1>
            <p class="hero__text">Новые коллекции женской одежды</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</section>
