<section class="history">
  <div class="container">
    <div class="history__wrapper">
      <div class="history__left">
        <picture>
          <source srcset="img/history-img.webp" type="image/webp" />
          <img class="history__img" src="img/history-img.jpg" alt="img" />
        </picture>
      </div>
      <div class="history__right">
        <h2 class="history__title section-title">
          История <span>YaBassA</span>
        </h2>

        <div class="history__text">
          <p>
            Компания успешно существует на рынке более 5 лет. Основателями
            лейбла являются хозяева не менее известного бренда “Джей”, который
            существовал на рынке с 1997 года, и успешно зарекомендовал себя
            среди производителей и поставщиков верхней женской одежды, а так же
            завоевал уважение и доверие среди клиентов. В 2011 году, произошел
            ребрендинг фирмы “Джей”, после чего, компания стала называться
            “Yabassa”. На сегодняшний день с компанией “Yabassa” работает много
            крупных и мелких оптовых клиентов по всей России.
          </p>
          <p>
            Мы с радостью предлагаем Вам ознакомиться с нашими новыми
            коллекциями! И надеемся на долгосрочное сотрудничество!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
