<section class="product">
  <div class="container">
    <div class="breadcrumbs breadcrumbs--mobile">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">Женщинам</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">Верхняя одежда</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link breadcrumbs__link--active">
            Блузка с V-образным вырезом
          </a>
        </li>
      </ul>
    </div>
    <div class="product__wrapper">
      <div class="product__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__nav">
            <div class="slider-thumbs__nav-wrap swiper" id="slider-nav">
              <ul class="swiper-wrapper">
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
              </ul>
            </div>

            <div class="slider-thumbs__nav-control">
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              ></button>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следующий"
              ></button>
            </div>
          </div>

          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
            </ul>

            <!-- <div class="slider-thumbs__arrows">
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              ></button>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следующий"
              ></button>
            </div> -->
          </div>
        </div>
      </div>

      <div class="product__right product-info">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Женщинам</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Верхняя одежда</a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link breadcrumbs__link--active">
                Блузка с V-образным вырезом
              </a>
            </li>
          </ul>
        </div>

        <h1 class="product-info__title">Блузка с V-образным вырезом</h1>

        <div class="product-info__colors product-colors">
          <div class="product-colors__top">
            <span class="roduct-colors__name">Цвет</span>
          </div>
          <div class="product-colors__items">
            <label class="checkbox-colors checkbox-colors--black">
              <input
                class="checkbox-colors__input"
                type="radio"
                name="size"
                checked
              />
              <span class="checkbox-colors__icon"></span>
            </label>

            <label class="checkbox-colors checkbox-colors--red">
              <input class="checkbox-colors__input" type="radio" name="size" />
              <span class="checkbox-colors__icon"></span>
            </label>
          </div>
        </div>

        <div class="product-info__sizes product-sizes">
          <div class="product-sizes__top">
            <span class="roduct-sizes__name">Размер</span>
            <a class="product-sizes__link" href="#">
              <span>Таблица размеров</span>

              <svg>
                <use xlink:href="img/sprite.svg#right-arrow"></use>
              </svg>
            </a>
          </div>
          <div class="product-sizes__items">
            <label class="checkbox">
              <input class="checkbox__input" type="radio" name="size" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">M</span>
            </label>

            <label class="checkbox">
              <input class="checkbox__input" type="radio" name="size" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">L</span>
            </label>

            <label class="checkbox">
              <input class="checkbox__input" type="radio" name="size" />
              <span class="checkbox__icon"></span>
              <span class="checkbox__text">XL</span>
            </label>
          </div>
        </div>

        <div class="product-info__prices">
          <div class="product-info__counter counter">
            <button
              class="counter__btn counter__btn--decrease"
              type="button"
              aria-label="Добавить"
            >
              -
            </button>
            <input class="counter__input" type="number" value="1" />
            <button
              class="counter__btn counter__btn--increase"
              type="button"
              aria-label="Вычесть"
            >
              +
            </button>
          </div>
          <span class="product-info__price product-info__price--new">
            8 500 ₽
          </span>
        </div>

        <div class="product-info__btns">
          <button class="product-info__btn btn" type="button">
            Добавить в корзину

            <svg>
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
          <button
            class="product-info__btn btn btn--transparent product-info__btn--fav"
            href="#"
          >
            Добавить в избранные

            <svg>
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="product-accordions">
      <div class="product-accordions__accordion accordion">
        <button
          class="product-accordions__control accordion-control"
          type="button"
        >
          Описание продукта

          <svg>
            <use xlink:href="img/sprite.svg#chevron"></use>
          </svg>
        </button>

        <div class="product-accordions__content accordion-content">
          <div class="product-accordions__inner">
            <p>
              Короткая кожанная куртка с классическими лацканами, ветрозащитным
              клапанов, боковыми карманами и регулируемым поясом на талии.
            </p>
          </div>
        </div>
      </div>
      <div class="product-accordions__accordion accordion">
        <button
          class="product-accordions__control accordion-control"
          type="button"
        >
          Характеристики
          <svg>
            <use xlink:href="img/sprite.svg#chevron"></use>
          </svg>
        </button>

        <div class="product-accordions__content accordion-content">
          <div class="product-accordions__inner">
            <p>Характеристики</p>
          </div>
        </div>
      </div>
      <div class="product-accordions__accordion accordion">
        <button
          class="product-accordions__control accordion-control"
          type="button"
        >
          Стирка
          <svg>
            <use xlink:href="img/sprite.svg#chevron"></use>
          </svg>
        </button>

        <div class="product-accordions__content accordion-content">
          <div class="product-accordions__inner">
            <p>Стирка</p>
          </div>
        </div>
      </div>
      <div class="product-accordions__accordion accordion">
        <button
          class="product-accordions__control accordion-control"
          type="button"
        >
          Доставка
          <svg>
            <use xlink:href="img/sprite.svg#chevron"></use>
          </svg>
        </button>

        <div class="product-accordions__content accordion-content">
          <div class="product-accordions__inner">
            <p>Доставка</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
