<section class="products-slider products-slider--new">
  <div class="container">
    <div class="products-slider__top">
      <h2 class="products-slider__title section-title">Новинки</h2>
      <a class="products-slider__link" href="#">Все новинки</a>
    </div>
  </div>
  <div class="products-slider__content">
    <div class="products-slider__slider swiper">
      <ul class="products-slider__slides swiper-wrapper">
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <picture>
                <source srcset="img/products/1.webp" type="image/webp" />
                <img src="img/products/1.png" alt="img" />
              </picture>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Розовый кардиган</a>
              </h3>
              <span class="product-card__price">8 500 ₽</span>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <picture>
                <source srcset="img/products/2.webp" type="image/webp" />
                <img src="img/products/2.png" alt="img" />
              </picture>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Летнее платье </a>
              </h3>
              <span class="product-card__price">8 500 ₽</span>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <picture>
                <source srcset="img/products/3.webp" type="image/webp" />
                <img src="img/products/3.png" alt="img" />
              </picture>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#"> Серый худи </a>
              </h3>
              <span class="product-card__price">8 500 ₽</span>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <picture>
                <source srcset="img/products/4.webp" type="image/webp" />
                <img src="img/products/4.png" alt="img" />
              </picture>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#"> Джинсовая куртка </a>
              </h3>
              <span class="product-card__price">8 500 ₽</span>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <picture>
                <source srcset="img/products/5.webp" type="image/webp" />
                <img src="img/products/5.png" alt="img" />
              </picture>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#"> Серый лонгслив </a>
              </h3>
              <span class="product-card__price">8 500 ₽</span>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <picture>
                <source srcset="img/products/1.webp" type="image/webp" />
                <img src="img/products/1.png" alt="img" />
              </picture>
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Розовый кардиган</a>
              </h3>
              <span class="product-card__price">8 500 ₽</span>
            </div>
          </article>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
