<section class="return">
  <div class="container">
    <h2 class="return__title section-title">Возврат товара</h2>

    <div class="return__text">
      <p>
        Вернуть товар можно в течение 14 дней с даты покупки. Мы принимаем к
        возврату товары, которые не использовались, сохранили товарный вид и
        потребительские свойства, со всеми заводскими пломбами и ярлыками.
      </p>
      <p>
        Для возврата товара надлежащего качества нужен кассовый чек или другой
        документ, подтверждающий оплату.
      </p>
      <p>
        Согласно ст. 25 Закона РФ «О защите прав потребителей» мы не принимаем к
        возврату товар, если он входит в Перечень непродовольственных товаров
        надлежащего качества, не подлежащих обмену. Перечень утверждён
        Постановлением Правительства РФ от 31 декабря 2020 г. № 2463.
      </p>
      <p>
        Если вы не уверены, что хотите вернуть товар, напишите на почту
        <a href="#">info@ecosreda.org</a>
      </p>
    </div>
  </div>
</section>
