<div class="socials socials--text">
  <div class="container">
    <div class="socials__text">
      В июле возможно оформить заказ на любые интересующие Вас вещи, часы, сумки
      и многое другое через электронную почту -
      <p>
        <a href="#">zakaz@yabassa.com</a> или
        <a
          href="https://instagram.com/annivlk?igshid=OGQ5ZDc2ODk2ZA=="
          target="_blank"
        >
          инстаграмм
        </a>
      </p>
    </div>

    <ul class="socials__list">
      <li class="socials__item">
        <a
          class="socials__link"
          href="https://instagram.com/annivlk?igshid=OGQ5ZDc2ODk2ZA=="
          target="_blank"
        >
          <span class="socials__icon">
            <svg>
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </span>
          <span class="socials__name">instagram</span>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="https://t.me/anniredina" target="_blank">
          <span class="socials__icon">
            <svg>
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </span>
          <span class="socials__name">telegram</span>
        </a>
      </li>
    </ul>
  </div>
</div>
