<div class="socials">
  <div class="container">
    <ul class="socials__list">
      <li class="socials__item">
        <a class="socials__link" href="#">
          <span class="socials__icon">
            <svg>
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </span>
          <span class="socials__name">instagram</span>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#">
          <span class="socials__icon">
            <svg>
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </span>
          <span class="socials__name">telegram</span>
        </a>
      </li>
    </ul>
  </div>
</div>
