<section class="subscribe">
  <div class="container">
    <div class="subscribe__wrapper">
      <div class="subscribe__top">
        <h2 class="subscribe__title section-title">Подпишитесь</h2>
        <p class="subscribe__text">
          Подпишитесь на нашу новостную рассылку <br />
          и будьте в курсе всех новостей и акций.
        </p>
      </div>

      <form class="subscribe__form form-subscribe">
        <div class="form-subscribe__group">
          <input
            class="form-subscribe__input"
            type="text"
            placeholder="Введите Ваш e-mail"
          />
          <button class="form-subscribe__send">
            <svg>
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
