<section class="support">
  <div class="container">
    <div class="support__top">
      <h2 class="support__title section-title">Тех поддержка клиентов</h2>
      <p class="support__text">
        Для связи с тех поддержкой, воспользуйтесь следующими контактами:
      </p>
    </div>
    <div class="support__wrapper">
      <ul class="support__list">
        <li class="support__item">
          <a class="support__link" href="tel:+74951234567">
            <svg>
              <use xlink:href="img/sprite.svg#telephone"></use>
            </svg>
            8 (495) 123 45 67
          </a>
        </li>
        <li class="support__item">
          <a class="support__link" href="mailto:support@yabassa.com">
            <svg>
              <use xlink:href="img/sprite.svg#envelope"></use>
            </svg>
            support@yabassa.com
          </a>
        </li>
        <li class="support__item">
          <div class="support__schedule" href="tel:+74951234567">
            <svg>
              <use xlink:href="img/sprite.svg#clock"></use>
            </svg>
            ежедневно с 09:00 - 23:00 (мск)
          </div>
        </li>
      </ul>

      <p class="support__descr">
        Или отправьте запрос через форму <br />
        обратной связи
      </p>

      <form class="support__form form-submit">
        <div class="form-submit__inner">
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Ваше имя"
            />
          </label>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="tel"
              placeholder="Ваш телефон"
            />
          </label>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="email"
              placeholder="Ваш e-mail"
            />
          </label>
          <label class="form-submit__group form-submit__group--big">
            <textarea
              class="form-submit__input"
              placeholder="Сообщение"
            ></textarea>
          </label>
        </div>
        <div class="form-submit__bottom">
          <button class="form-submit__btn btn" type="button">Отправить</button>

          <p class="form-submit__agree">
            Отправляя заявку, вы соглашаетесь с
            <a href="#">политикой обработки персональных данных</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
